#map{
  height: 100%;
  width: 100%;
}

html, body {
 height: 100%;
}

.container-fluid {
  padding: 0px;
}

.form-control {
padding-right: 30px;
}

.form-control + .glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 27px;
}

.menu-principal {
  padding: 10px;
  margin: 0px;
  position: fixed;
  left:0px;
  top:0px;
  z-index: 1000;
  margin: 0px;
  padding: 0px
}

#id-for-the-button{
  font-size: 15px;
  padding-top: 5px;
}

.container-fluid {
  padding: 0px;
}

.one {
  color: #3498db;
}

.two {
  color: #9b59b6;
}

.tree {
  color: #2980b9;
}

.backcode {
  background-color: #ecf0f1;
}

.example {
  color: #bdc3c7;
}
