#map{
  height: 100%;
  width: 100%;
}

html, body {
 height: 100%;
}

.container-fluid {
  padding: 0;
}

.form-control {
padding-right: 30px;
}

.form-control + .glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 27px;
}

.menu-principal {
  padding: 10px;
  margin: 0;
  position: fixed;
  left:0;
  top:0;
  z-index: 1000;
  margin: 0;
  padding: 0;
}

#id-for-the-button{
  font-size: 15px;
  padding-top: 5px;
}

.container-fluid {
  padding: 0;
}

.one {
  color: #3498db;
}

.two {
  color: #9b59b6;
}

.tree {
  color: #2980b9;
}

.backcode {
  background-color: #ecf0f1;
}

.example {
  color: #bdc3c7;
}

/* Draw Stops Popup */
.stop-popup {
  margin: 0;
  padding: 0;
}

.stop-name {
  background-color: #3498db;
  color: white;
  padding: 1px;
}

/* Agency Popup */
.agency-title {
  font-size: 15px;
  color: orange;
  text-align: center;
}

p.agency-desc {
  padding: 0;
  margin: 0;
  text-align: center;
}
